.navbar-light .navbar-nav .nav-link {
    color: #6e2570;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #6e2570;
}
.servicesText:hover {
    border: 1px solid #6e2570;
}



/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
    color: #6e2570;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #e2d8d8;
    text-align: center;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

/* button color */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #6e2570 !important;
}